body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:230px;
  top:129px;
  width:140px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:70px;
}
#u1 {
  position:absolute;
  left:2px;
  top:25px;
  width:136px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:300px;
  top:199px;
  width:0px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:55px;
}
#u3 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:250px;
  top:240px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:230px;
  top:40px;
  width:129px;
  height:45px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:300px;
  top:300px;
  width:0px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u9 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:250px;
  top:350px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:300px;
  top:300px;
  width:170px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:54px;
}
#u12_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:190px;
  height:20px;
}
#u12_seg2 {
  position:absolute;
  left:160px;
  top:30px;
  width:20px;
  height:24px;
}
#u13 {
  position:absolute;
  left:20px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:420px;
  top:350px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:80px;
  top:350px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:300px;
  top:300px;
  width:-170px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:54px;
}
#u18_seg1 {
  position:absolute;
  left:-180px;
  top:30px;
  width:190px;
  height:20px;
}
#u18_seg2 {
  position:absolute;
  left:-180px;
  top:30px;
  width:20px;
  height:24px;
}
#u19 {
  position:absolute;
  left:-120px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:70px;
  top:470px;
  width:120px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:23px;
  width:116px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:130px;
  top:410px;
  width:0px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u23 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:240px;
  top:470px;
  width:120px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:23px;
  width:116px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:300px;
  top:410px;
  width:0px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u26_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u27 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:410px;
  top:470px;
  width:120px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u29 {
  position:absolute;
  left:2px;
  top:23px;
  width:116px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:470px;
  top:410px;
  width:0px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u31 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
