body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1057px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:220px;
  top:75px;
  width:140px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:70px;
}
#u1 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:240px;
  top:195px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:195px;
  width:127px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:240px;
  top:225px;
  width:-53px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6_seg0 {
  position:absolute;
  left:-57px;
  top:-10px;
  width:67px;
  height:20px;
}
#u7 {
  position:absolute;
  left:-76px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:124px;
  top:255px;
  width:99px;
  height:103px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:117px;
}
#u8_seg1 {
  position:absolute;
  left:-10px;
  top:93px;
  width:113px;
  height:20px;
}
#u9 {
  position:absolute;
  left:-50px;
  top:92px;
  width:100px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:290px;
  top:145px;
  width:0px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u11 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:290px;
  top:255px;
  width:0px;
  height:73px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:87px;
}
#u13 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:226px;
  top:20px;
  width:129px;
  height:45px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:681px;
  top:612px;
  width:127px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:23px;
  width:123px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:32px;
  top:612px;
  width:127px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:681px;
  top:839px;
  width:127px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:23px;
  width:123px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:744px;
  top:672px;
  width:0px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:71px;
}
#u23 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:32px;
  top:976px;
  width:127px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:23px;
  width:123px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:96px;
  top:672px;
  width:0px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u26_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:71px;
}
#u27 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:650px;
  top:952px;
  width:190px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:60px;
}
#u29 {
  position:absolute;
  left:2px;
  top:16px;
  width:186px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:744px;
  top:899px;
  width:1px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:57px;
}
#u30_seg1 {
  position:absolute;
  left:-10px;
  top:33px;
  width:21px;
  height:20px;
}
#u30_seg2 {
  position:absolute;
  left:-9px;
  top:33px;
  width:20px;
  height:24px;
}
#u31 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:26px;
  top:1090px;
  width:140px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u33 {
  position:absolute;
  left:2px;
  top:23px;
  width:136px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:96px;
  top:1036px;
  width:0px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u34_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:68px;
}
#u35 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:495px;
  top:612px;
  width:127px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u37 {
  position:absolute;
  left:2px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:226px;
  top:458px;
  width:127px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u39 {
  position:absolute;
  left:2px;
  top:23px;
  width:123px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:290px;
  top:518px;
  width:268px;
  height:94px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:48px;
}
#u40_seg1 {
  position:absolute;
  left:-10px;
  top:24px;
  width:288px;
  height:20px;
}
#u40_seg2 {
  position:absolute;
  left:258px;
  top:24px;
  width:20px;
  height:74px;
}
#u41 {
  position:absolute;
  left:97px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:495px;
  top:839px;
  width:127px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u43 {
  position:absolute;
  left:2px;
  top:23px;
  width:123px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:558px;
  top:672px;
  width:0px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u44_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:71px;
}
#u45 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:488px;
  top:952px;
  width:140px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u47 {
  position:absolute;
  left:2px;
  top:23px;
  width:136px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:558px;
  top:899px;
  width:0px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u48_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:67px;
}
#u49 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:290px;
  top:518px;
  width:454px;
  height:94px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u50_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:48px;
}
#u50_seg1 {
  position:absolute;
  left:-10px;
  top:24px;
  width:474px;
  height:20px;
}
#u50_seg2 {
  position:absolute;
  left:444px;
  top:24px;
  width:20px;
  height:74px;
}
#u51 {
  position:absolute;
  left:190px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:290px;
  top:518px;
  width:-194px;
  height:94px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u52_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:48px;
}
#u52_seg1 {
  position:absolute;
  left:-204px;
  top:24px;
  width:214px;
  height:20px;
}
#u52_seg2 {
  position:absolute;
  left:-204px;
  top:24px;
  width:20px;
  height:74px;
}
#u53 {
  position:absolute;
  left:-160px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:223px;
  top:328px;
  width:134px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:60px;
}
#u55 {
  position:absolute;
  left:2px;
  top:23px;
  width:130px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:357px;
  top:358px;
  width:93px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u56_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:107px;
  height:20px;
}
#u57 {
  position:absolute;
  left:-4px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:450px;
  top:328px;
  width:134px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:60px;
}
#u59 {
  position:absolute;
  left:2px;
  top:16px;
  width:130px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:584px;
  top:358px;
  width:96px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u60_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:110px;
  height:20px;
}
#u61 {
  position:absolute;
  left:-2px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:680px;
  top:328px;
  width:127px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u63 {
  position:absolute;
  left:2px;
  top:23px;
  width:123px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:290px;
  top:388px;
  width:0px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u64_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:84px;
}
#u65 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:517px;
  top:388px;
  width:-227px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u66_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:44px;
}
#u66_seg1 {
  position:absolute;
  left:-237px;
  top:20px;
  width:247px;
  height:20px;
}
#u66_seg2 {
  position:absolute;
  left:-237px;
  top:20px;
  width:20px;
  height:54px;
}
#u67 {
  position:absolute;
  left:-168px;
  top:21px;
  width:100px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:744px;
  top:388px;
  width:-454px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u68_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u68_seg1 {
  position:absolute;
  left:-464px;
  top:40px;
  width:474px;
  height:20px;
}
#u68_seg2 {
  position:absolute;
  left:-464px;
  top:40px;
  width:20px;
  height:34px;
}
#u69 {
  position:absolute;
  left:-262px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:226px;
  top:612px;
  width:127px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u71 {
  position:absolute;
  left:2px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:290px;
  top:518px;
  width:0px;
  height:94px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u72_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:108px;
}
#u73 {
  position:absolute;
  left:-50px;
  top:39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:46px;
  top:729px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u75 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:146px;
  top:759px;
  width:80px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u76_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:94px;
  height:20px;
}
#u77 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:96px;
  top:789px;
  width:0px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u78_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u79 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:226px;
  top:729px;
  width:127px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u81 {
  position:absolute;
  left:2px;
  top:23px;
  width:123px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:508px;
  top:729px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u83 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:558px;
  top:789px;
  width:0px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u84_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u85 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:694px;
  top:729px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u87 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:744px;
  top:789px;
  width:0px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u88_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u89 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:794px;
  top:759px;
  width:136px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u90_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:150px;
  height:20px;
}
#u91 {
  position:absolute;
  left:18px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:930px;
  top:729px;
  width:127px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u93 {
  position:absolute;
  left:2px;
  top:23px;
  width:123px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:608px;
  top:759px;
  width:322px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u94_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:90px;
  height:20px;
}
#u94_seg1 {
  position:absolute;
  left:66px;
  top:-67px;
  width:20px;
  height:77px;
}
#u94_seg2 {
  position:absolute;
  left:66px;
  top:-67px;
  width:256px;
  height:20px;
}
#u94_seg3 {
  position:absolute;
  left:302px;
  top:-67px;
  width:20px;
  height:77px;
}
#u94_seg4 {
  position:absolute;
  left:302px;
  top:-10px;
  width:24px;
  height:20px;
}
#u95 {
  position:absolute;
  left:111px;
  top:-66px;
  width:100px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:46px;
  top:839px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u97 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:96px;
  top:899px;
  width:0px;
  height:77px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u98_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:91px;
}
#u99 {
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:226px;
  top:839px;
  width:127px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u101 {
  position:absolute;
  left:2px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:146px;
  top:869px;
  width:80px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u102_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:94px;
  height:20px;
}
#u103 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
