body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:398px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:61px;
  top:25px;
  width:129px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:61px;
  top:92px;
  width:337px;
  height:33px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:33px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
